h2 {
  background: #0070de;
  border-radius: 5px;
  width: 5rem;
  text-align: center;
  border: solid #000;
  color: #fff ;

}

ul {
  font-weight: bold;
  li{
    font-weight: lighter;
    font-style: italic;
  }
}