<h2> Styles com property binding (style binding) </h2>
<button
  [style.backgroundColor]="ativo ? 'blue' : 'gray' "
  [style.color]="ativo ? 'white' : 'black' "
  [style.fontWeight]="ativo ? 'bold' : 'normal'"
  [style.fontSize]="tamanhoFonte + 'px'"
  (click)="mudarAtivo()"
>
  Mudar atributo 'ativo'
</button>
<br>
<input type="text" [(ngModel)]="tamanhoFonte">

<h2> Styles com diretiva </h2>
<button
  [ngStyle]="{
    'backgroundColor': ativo ? 'blue' : 'gray',
    'color': ativo ? 'white' : 'black',
    'fontWeight':ativo ? 'bold' : 'normal',
    'fontSize':tamanhoFonte + 'px'
  }"
    (click)="mudarAtivo()"
> ngStyle Button </button>